<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedCv?.image}}" alt="" class="img-responsive">

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedCv?.name}}</h1>

  </div>
  <div class="col-xs-12">

    <button class="btn btn-primary">Embaucher</button>
    <button class="btn btn-danger">selectionner</button>


  </div>
</div >
<hr>

<div class="row">
  <div class="col-xs-12">
    <p>{{selectCv?.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
 blalalalaalallala
  </div>
</div>

